<!-- Page Header -->
<header class="intro-header" style="background-color: #eee">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ site.title | escape }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.title | default: "Hacking, Reversing, Exploiting for fun!" | escape }}
                    {% if page.date %}
                    <br /> <br />
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
