---
layout: default
---

{% for article in site.articles %}
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ article.title | escape }}</h3>
                <h4>by {{ article.author | escape }} on {{ article.date | date: "%b %-d, %Y" }}</h4>
                <p>{{ article.excerpt | strip_html | truncate: 160 | escape }}</p>
                <a class="btn btn-primary" href="{{ article.url | relative_url }}">Read More<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
<hr>
{% endfor %}
