---
layout: default
---

{% for cheatsheet in site.cheatsheets %}
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ cheatsheet.title | escape }}</h3>
                <p>{{ cheatsheet.excerpt }}</p>
                <a class="btn btn-primary" href="{{ cheatsheet.url | relative_url }}">View<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

<hr>
{% endfor %}
