---
layout: default
---

           <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              {% for article in site.articles limit: 3 %}
              <div class="col-md-4">
                <h2>{{ article.title | strip_html }}</h2>
                <p>{{ article.excerpt | strip_html }}</p>
                <p><a class="btn btn-default" href="{{ article.url | relative_url }}" role="button">View details &raquo;</a></p>
              </div>
              {% endfor %}
            </div>
            <hr>
            <!-- Example row of columns -->
            <div class="row">
              {% for cheatsheet in site.cheatsheets limit: 3 %}
              <div class="col-md-4">
                <h2>{{ cheatsheet.title | strip_html }}</h2>
                <p>{{ cheatsheet.excerpt | strip_html }}</p>
                <p><a class="btn btn-default" href="{{ cheatsheet.url | relative_url }}" role="button">View details &raquo;</a></p>
              </div>
              {% endfor %}
            </div>
          </div> <!-- /container -->
  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
