---
layout: default
---

{% for tool in site.data.tools %}
{% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}
{% if modulo == '0' or forloop.first %}
        <!-- Projects Row -->
        <div class="row">
{% endif %}
            <div class="col-md-4 portfolio-item">
                <a href="https://github.com/secjamcom/{{ tool.github }}">
                    <img class="img-responsive" src="{{ tool.image  }}" alt="">
                </a>
                <h3>
                    <a href="https://github.com/secjamcom/{{ tool.github }}">{{ tool.name }}</a>
                </h3>
                <p>{{ tool.description }}</p>
            </div>
{% if modulo == '2' %}
        </div>
        <div class="row">
{% endif %}
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}
